<narik-busy-indicator [isBusy]="isBusy">
  <div [auto-focus] class="login-container">
    <mat-card class="login-card">
      <mat-card-header class="mb-4 mt-2">
        <mat-card-title>{{"login.change_Pass" | translate}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form>
          <div>
            <div>
              <narik-input prefixIcon='lock' [placeHolder]='"login.old-password" | translate'
                [(ngModel)]="loginModel.oldPassword" name="password" [label]="'login.old-password' | translate"
                type='password'>
              </narik-input>
            </div>
            <div>
              <narik-input prefixIcon='lock' [placeHolder]='"login.password_placeHolder" | translate'
                [(ngModel)]="loginModel.password" name="password" [label]="'login.password' | translate"
                type='password'>
              </narik-input>
            </div>
            <div>
              <narik-input prefixIcon='lock' [placeHolder]='"login.re-password" | translate'
                [(ngModel)]="loginModel.rePassword" name="password" [label]="'login.re-password' | translate"
                type='password'>
              </narik-input>
            </div>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <narik-button (nClick)="doChangePassword()" [isBusy]='isBusy' label=' {{"dialog-buttons.ok" | translate}}'>
        </narik-button>
        <narik-button class="ml-2" (nClick)="dialog.close()" label=' {{"dialog-buttons.cancel" | translate}}'>
        </narik-button>
      </mat-card-actions>
    </mat-card>
  </div>
</narik-busy-indicator>
