body {
  background-color: #ffffff !important;
}

.mat-form-field-label {
  height: 30px;
}

nb-layout-header.fixed {
  z-index: 1000 !important;
}


.mat-form-field-infix {
  width: initial !important;
}

#toast-container>div {
  opacity: 1;
}

.mat-table-container {
  height: initial !important;
}

a:hover {
  cursor: pointer;
}

.navbar-brand-full{
  height: 40px;
}
