.login-container
{
  background-image: url('../../../../assets/images/bg-01.jpg');
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.login-card{
  width: 400px;
  height: 300px;
}


